extend ../layout/_default
append value
  - const title = "アバウトページのタイトル";
  - const description = "アバウトページのディスクリプション";
  - const path = "..";
  - const location = "about";

block main
  include ../include/_main