extend ./layout/_default
append value
  - const title = "トップページのタイトル";
  - const description = "トップページのディスクリプション";
  - const path = ".";
  - const location = "top";

block main
  include ./include/_main
