- const domain = "domain.com";

- const cssPath = path + "/assets/css/";
- const jsPath = path + "/assets/js/";
- const imgPath = path + "/assets/images/";
- const ogImage = domain + "/assets/images/common/ogp.jpg";

//- - const twitterDomain = "domainName";
//- - const facebookAdmins = "7777777777777777";
//- - const facebookAppId = "88888888888888888";