- const cssPath = path + "/css/";
- const jsPath = path + "/js/";
- const imgPath = path + "/images/";
- const domain = "/";
- const ogImage = domain + "images/common/ogp.jpg";
//- - const twitterDomain = "domainName";
//- - const facebookAdmins = "7777777777777777";
//- - const facebookAppId = "88888888888888888";